<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marvel">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Marvel.Splash"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.detail.CharacterDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.battle.BattleActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.market.MarketActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.heroes.MyHeroesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.ranks.RankTrailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.ranks.ChestOpenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false"
            android:theme="@style/Theme.Marvel.Overlay" />
        <activity
            android:name=".ui.artifacts.ArtifactsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.market.RouletteSpinActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.album.AlbumActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.album.TeamPageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
        <activity
            android:name=".ui.survival.SurvivalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:exported="false" />
    </application>

</manifest>
